cryptography==3.4.8
fastapi==0.97.0
fastapi-mail==1.2.8
fastapi-jwt-auth==0.5.0
psycopg2-binary==2.9.6
python-dotenv==1.0.0
passlib==1.7.4
python-multipart==0.0.6
pycparser==2.21
SQLAlchemy==2.0.16
uvicorn==0.22.0
websockets==11.0.3