<html>
    <head>
        <title>{{message}}</title>
        <style>
            textarea#messageText {
                height: 200px;
                width: 300px;
                background-color: seashell;
                border-radius: 0px 25px 25px 25px;
                border: 2px solid;
                text-decoration: none;
            }
            
            button#send {
                height: 50px;
                width: 100px;
                border: 1px solid;
                border-radius: 5px;
                background-color: darkcyan;
                color: #ffff;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <h1>WebSocket CRUD</h1>
        <form action="" onsubmit="sendMessage(event)">
            <textarea id="messageText" autocomplete="off" placeholder="{}"></textarea>
            <button id="send">Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <table border="1px" id="device_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Device Type</th>
                    <th>App Type</th>
                    <th>Status</th>
                    <th>Device Id</th>
                    <th>Channel Id</th>
                    <th>Is Dimmable</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <script>
            var ws = new WebSocket("ws://localhost:8000/user/100/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data);
                var device_data = JSON.parse(content.data);

                document.querySelectorAll("#device_table tbody tr").forEach(function(e){e.remove()})

                for(var d=0;d<=device_data.devices.length;d++){
                    var name = device_data.devices[d]['name']
                    var device_type = device_data.devices[d]['device_type']
                    var app_type = device_data.devices[d]['app_type']
                    var device_id = device_data.devices[d]['device_id']
                    var channel_id = device_data.devices[d]['channel_id']
                    var is_dimmable = device_data.devices[d]['is_dimmable']
                    var status = device_data.devices[d]['status']                    

                    var tbodyRef = document.getElementById('device_table').getElementsByTagName('tbody')[0];
                    var row = document.createElement("tr");
                    var cell1 = document.createElement("td");
                    var cell2 = document.createElement("td");
                    var cell3 = document.createElement("td");
                    var cell4 = document.createElement("td");
                    var cell5 = document.createElement("td");
                    var cell6 = document.createElement("td");
                    var cell7 = document.createElement("td");

                    cell1.innerHTML = name
                    cell2.innerHTML = device_type
                    cell3.innerHTML = app_type
                    cell4.innerHTML = status
                    cell5.innerHTML = device_id
                    cell6.innerHTML = channel_id
                    cell7.innerHTML = is_dimmable

                    row.appendChild(cell1)
                    row.appendChild(cell2)
                    row.appendChild(cell3)
                    row.appendChild(cell4)
                    row.appendChild(cell5)
                    row.appendChild(cell6)
                    row.appendChild(cell7)

                    tbodyRef.appendChild(row);  

                }
                

                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>